@model Ecommerce.Domain.Product

<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="~/img/@Model.ImagePath" alt="@Model.Name"></a>
        <div class="card-body">
            <h6 class="card-title">
                <a href="@Model.Id">@Model.Name</a>
            </h6>
            <h5>R$ @Model.UnitPrice</h5>
        </div>
        <div class="card-footer">
           <button class="btn btn-primary btn-md btn-block">Adicionar ao carrinho</button>
        </div>
    </div>
</div>